<link rel="stylesheet" href="/css/landing_page.css">


<div class="landing-page">
    <div class="landing-title">
        <h1>Ready to Live Healthier...!</h1>
    </br>
        <h3>Embrace a Healthier Lifestyle with Our New Health Tracker App!</h3>
    </div>
    <img class="welcome-img" src="/img/landing_img.png">
    <a href="/users/sign-in"><button class="get-started">Get Started</button></a>
</div>
